In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
data=pd.read_csv('DATASET.csv')

In [4]:
data

     Studentid  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Level
0            1   1   0   0   0   1   0   1   0   1    1      2
1            2   1   1   1   0   1   1   0   1   0    1      3
2            3   1   0   1   0   0   1   1   0   0    1      1
3            4   1   0   1   1   0   0   0   1   0    1      3
4            5   1   0   1   0   1   0   0   1   0    1      2
5            6   0   1   0   1   0   1   1   0   0    0      1
6            7   1   0   1   1   0   1   0   1   1    1      3
7            8   1   1   0   0   1   0   1   1   0    0      3
8            9   0   0   1   0   1   1   1   0   1    1      3
9           10   1   0   1   0   1   1   1   0   1    1      2
10          11   0   1   0   0   0   1   0   1   1    0      2
11          12   0   1   1   1   0   1   1   0   1    1      3
12          13   1   0   1   0   1   1   0   1   0    1      1
13          14   0   1   1   0   1   0   0   1   0    0      2
14          15   1   1   0   1   0   1   0   1   0    1      1
15          16   1   0   1   0   1   0   1   0   1    0      2
16          17   0   0   0   1   0   1   0   1   0    1      2
17          18   0   1   1   0   1   0   1   0   1    0      2
18          19   1   0   1   0   0   0   1   0   1    0      3
19          20   0   1   0   1   0   1   0   1   0    1      1
20          21   1   0   0   1   0   1   0   1   0    1      2
21          22   1   0   1   0   1   0   1   0   1    0      1
22          23   0   1   0   1   0   0   0   1   0    1      3
23          24   1   0   1   1   0   1   0   1   0    1      3
24          25   0   1   0   0   1   0   1   0   1    0      2
25          26   1   0   1   1   1   0   0   1   0    1      2
26          27   1   0   1   0   1   0   1   0   1    0      2
27          28   0   1   1   1   0   1   0   1   0    1      3
28          29   1   1   0   1   1   0   0   1   1    1      3
29          30   1   1   1   0   0   1   0   0   1    0      3
..         ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...
294        295   0   1   0   1   0   1   0   1   0    1      2
295        296   1   0   1   0   1   0   1   0   1    0      3
296        297   0   1   1   0   1   0   1   1   1    1      2
297        298   0   1   0   1   1   0   0   0   1    0      3
298        299   1   0   0   1   1   0   1   0   0    1      2
299        300   0   1   1   1   0   0   0   1   0    1      1
300        301   0   1   1   1   0   1   1   0   0    0      2
301        302   0   1   0   0   1   1   0   0   1    0      3
302        303   0   0   1   0   1   0   0   1   0    1      3
303        304   1   0   1   0   1   0   1   1   0    1      3
304        305   1   0   0   1   1   0   1   0   0    0      1
305        306   0   1   1   1   0   1   1   0   1    1      1
306        307   0   1   1   0   0   1   1   1   1    1      2
307        308   1   1   0   1   0   1   0   1   0    1      3
308        309   1   1   1   1   1   1   0   1   0    0      3
309        310   0   1   1   0   1   0   1   0   1    0      2
310        311   0   1   0   1   0   0   1   0   1    1      3
311        312   0   1   1   0   1   1   1   0   1    0      3
312        313   0   0   1   1   0   1   0   0   1    1      2
313        314   0   0   1   0   1   1   1   0   1    1      3
314        315   1   0   1   0   1   1   1   0   1    1      2
315        316   1   0   1   0   1   0   0   1   0    0      2
316        317   1   0   1   1   0   1   1   0   1    0      2
317        318   0   1   0   0   1   0   0   1   1    1      1
318        319   1   0   1   0   1   0   1   1   0    1      1
319        320   1   0   1   0   1   0   1   0   0    0      3
320        321   1   0   1   0   0   1   0   0   1    1      2
321        322   0   0   1   0   1   0   0   1   0    1      3
322        323   1   0   1   0   1   0   1   1   0    1      1
323        324   1   0   0   1   1   0   1   0   0    0      3

[324 rows x 12 columns]

In [5]:
data.drop('Studentid',axis=1,inplace=True)

In [6]:
data.shape

(324, 11)

In [7]:
data['Q1'].value_counts()

1    172
0    152
Name: Q1, dtype: int64

In [8]:
data['Q2'].value_counts()

1    164
0    160
Name: Q2, dtype: int64

In [9]:
data['Q3'].value_counts()

1    203
0    121
Name: Q3, dtype: int64

In [10]:
data['Q4'].value_counts()

0    190
1    134
Name: Q4, dtype: int64

In [11]:
data['Q5'].value_counts()

1    168
0    156
Name: Q5, dtype: int64

In [12]:
data['Q6'].value_counts()

1    162
0    162
Name: Q6, dtype: int64

In [13]:
data['Q7'].value_counts()

1    182
0    142
Name: Q7, dtype: int64

In [14]:
data['Q8'].value_counts()

0    171
1    153
Name: Q8, dtype: int64

In [15]:
data['Q9'].value_counts()

0    166
1    158
Name: Q9, dtype: int64

In [16]:
data['Q10'].value_counts()

1    192
0    132
Name: Q10, dtype: int64

In [17]:
data.corr()['Level']

Q1      -0.033370
Q2       0.041684
Q3      -0.005348
Q4      -0.034353
Q5       0.062709
Q6      -0.097464
Q7      -0.016054
Q8      -0.068764
Q9       0.076502
Q10     -0.030268
Level    1.000000
Name: Level, dtype: float64

In [18]:
data.corr()['Level']

Q1      -0.033370
Q2       0.041684
Q3      -0.005348
Q4      -0.034353
Q5       0.062709
Q6      -0.097464
Q7      -0.016054
Q8      -0.068764
Q9       0.076502
Q10     -0.030268
Level    1.000000
Name: Level, dtype: float64

In [19]:
y=data.iloc[:,10:].values

In [20]:
y.shape

(324, 1)

In [42]:
X=data.iloc[:,:10].values

In [43]:
X.shape

(324, 10)

In [44]:
X[0]

array([1, 0, 0, 0, 1, 0, 1, 0, 1, 1])

In [45]:
y

array([[2],
       [3],
       [1],
       [3],
       [2],
       [1],
       [3],
       [3],
       [3],
       [2],
       [2],
       [3],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [3],
       [1],
       [2],
       [1],
       [3],
       [3],
       [2],
       [2],
       [2],
       [3],
       [3],
       [3],
       [3],
       [2],
       [1],
       [2],
       [3],
       [1],
       [3],
       [2],
       [3],
       [2],
       [3],
       [3],
       [1],
       [3],
       [3],
       [2],
       [2],
       [1],
       [2],
       [2],
       [3],
       [2],
       [2],
       [2],
       [2],
       [3],
       [2],
       [3],
       [1],
       [3],
       [1],
       [2],
       [3],
       [3],
       [2],
       [3],
       [3],
       [3],
       [3],
       [2],
       [3],
       [3],
       [1],
       [3],
       [1],
       [1],
       [2],
       [3],
       [3],
       [2],
       [1],
       [2],
       [2],
       [3],
       [1],
       [2],
       [1],
       [1],
       [3],
       [3],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [3],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [3],
       [3],
       [3],
       [1],
       [3],
       [1],
       [3],
       [2],
       [3],
       [3],
       [2],
       [3],
       [1],
       [1],
       [3],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [3],
       [1],
       [1],
       [2],
       [3],
       [1],
       [1],
       [3],
       [3],
       [3],
       [1],
       [3],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [3],
       [1],
       [1],
       [1],
       [2],
       [2],
       [3],
       [1],
       [2],
       [2],
       [1],
       [2],
       [3],
       [2],
       [2],
       [2],
       [1],
       [3],
       [1],
       [1],
       [2],
       [3],
       [3],
       [3],
       [3],
       [2],
       [1],
       [3],
       [1],
       [1],
       [3],
       [2],
       [3],
       [2],
       [2],
       [2],
       [1],
       [1],
       [3],
       [1],
       [1],
       [3],
       [3],
       [2],
       [2],
       [1],
       [1],
       [3],
       [1],
       [3],
       [3],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [3],
       [3],
       [1],
       [1],
       [2],
       [2],
       [3],
       [3],
       [3],
       [2],
       [1],
       [3],
       [2],
       [2],
       [3],
       [1],
       [3],
       [1],
       [3],
       [2],
       [1],
       [1],
       [1],
       [1],
       [3],
       [3],
       [3],
       [2],
       [1],
       [2],
       [3],
       [3],
       [3],
       [1],
       [3],
       [3],
       [2],
       [3],
       [2],
       [2],
       [3],
       [3],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [3],
       [3],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [3],
       [3],
       [3],
       [2],
       [3],
       [2],
       [2],
       [2],
       [2],
       [2],
       [3],
       [3],
       [3],
       [3],
       [2],
       [1],
       [3],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [3],
       [2],
       [3],
       [2],
       [1],
       [2],
       [3],
       [3],
       [3],
       [1],
       [1],
       [2],
       [3],
       [3],
       [2],
       [3],
       [3],
       [2],
       [3],
       [2],
       [2],
       [2],
       [1],
       [1],
       [3],
       [2],
       [3],
       [1],
       [3]])

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [47]:
from sklearn.preprocessing import StandardScaler 
sc_x = StandardScaler() 
X_train = sc_x.fit_transform(X_train)  
X_test = sc_x.transform(X_test)

/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [48]:
print(X_train[:,:])

[[ 0.94006432 -0.9877296   0.75348652 ...  1.15608757 -1.063757
   0.81509727]
 [ 0.94006432 -0.9877296   0.75348652 ... -0.86498638  0.94006432
  -1.22684744]
 [-1.063757    1.01242284 -1.32716376 ... -0.86498638  0.94006432
   0.81509727]
 ...
 [ 0.94006432 -0.9877296   0.75348652 ... -0.86498638  0.94006432
  -1.22684744]
 [ 0.94006432  1.01242284  0.75348652 ...  1.15608757 -1.063757
   0.81509727]
 [ 0.94006432 -0.9877296   0.75348652 ... -0.86498638  0.94006432
  -1.22684744]]

In [49]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 0) 
classifier.fit(X_train, y_train)

/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/developer/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
y_pred = classifier.predict(X_test)

In [51]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(y_test, y_pred)

In [52]:
print(cm)

[[ 8  8  7]
 [ 4 11 16]
 [ 1 11 15]]

In [53]:

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.41975308641975306

In [54]:
y_pred

array([2, 3, 3, 3, 3, 3, 2, 3, 2, 3, 1, 2, 2, 1, 3, 2, 3, 3, 2, 3, 3, 3,
       2, 3, 3, 2, 2, 2, 3, 2, 3, 1, 1, 3, 2, 3, 2, 3, 3, 2, 1, 1, 2, 3,
       1, 1, 3, 2, 2, 2, 2, 3, 2, 3, 3, 2, 1, 2, 3, 3, 3, 1, 3, 1, 3, 2,
       2, 3, 3, 3, 1, 2, 2, 2, 1, 3, 3, 3, 2, 2, 3])

In [55]:
new_input = [[0,1,1,0,1,1,0,0,0,1]]
z = classifier.predict(new_input)

In [56]:
print(z)

[2]